<div class="container">
  <div class="container-lg mt-4 text-lg-start text-sm-center">
    <h2>{{ account.name }}</h2>
    <h4>Filter Transactions</h4>
  
    <!-- Row for filters (horizontal) -->
    <div class="row justify-content-center align-items-center">
      <!-- Value filter -->
      <div class="col-md-2 mb-2">
        <label for="value" class="form-label">Value</label>
        <input type="number" id="value" class="form-control" [(ngModel)]="filter.value" placeholder="Value">
      </div>
  
      <!-- Description filter -->
      <div class="col-md-2 mb-2">
        <label for="description" class="form-label">Description</label>
        <input type="text" id="description" class="form-control" [(ngModel)]="filter.description" placeholder="Description">
      </div>
  
      <!-- Category filter -->
      <div class="col-md-2 mb-2">
        <label for="cat" class="form-label">Category</label>
        <input type="text" id="cat" class="form-control" [(ngModel)]="filter.cat" placeholder="Category">
      </div>
  
      <!-- Exact Date filter -->
      <div class="col-md-2 mb-2">
        <label for="date" class="form-label">Date</label>
        <input type="date" id="date" class="form-control" [(ngModel)]="filter.date">
      </div>
  
      <!-- Date Range filter -->
      <div class="col-md-2 mb-2">
        <label for="rangeDate" class="form-label">Date Range</label>
        <input type="text" id="rangeDate" class="form-control" [(ngModel)]="filter.rangeDate" placeholder="MM/DD/YYYY:MM/DD/YYYY">
      </div>
  
      <!-- Search Button -->
      <div class="col-md-2 d-flex justify-content-center align-items-center mb-2">
        <button class="btn btn-primary m-1" (click)="search()">Search</button>
        
        <button class="btn btn-secondary" (click)="onReset()">Reset</button>
      </div>
  
      <!-- Reset Button -->
      <div class="col-md-2 d-flex justify-content-center align-items-center mb-2">
        
      </div>
    </div>
  </div>
    <ul class="list-group">
      <li 
    *ngFor="let transaction of transactions" 
    class="list-group-item d-flex flex-column align-items-start"
    [ngStyle]="{
      'background-color': transaction.typeTransaction === 'income' ? '#f1fbf3' : '#fcedef',
    }"
  >
    <div class="d-flex w-100 justify-content-between">
      <div>
        <h5 class="mb-1">{{ transaction.description }}</h5>
        <small class="text-muted">{{ transaction.date | date: 'MMM d, y' }}</small>
      </div>
      <div class="ms-auto">
        <h5 class="mb-1 text-sm-center">{{ transaction.value | currency }}</h5>
        <div>
          <div *ngIf="transaction.typeTransaction === 'expense'; else basicUserTemplate">
            <div 
              class="btn btn-outline-warning ms-1" 
              type="button" 
              (click)="openExpenseDialog(transaction)"
            >
              Edit
            </div>
            <div class="btn btn-outline-danger ms-1">Delete</div>
          </div>
          <ng-template #basicUserTemplate>
            <div 
              class="btn btn-outline-warning ms-1" 
              type="button" 
              (click)="openIncomeDialog(transaction)"
            >
              Edit
            </div>
            <div class="btn btn-outline-danger ms-1">Delete</div>
          </ng-template>
        </div>
      </div>
    </div>
  </li>
  <div class="m-3 d-flex justify-content-end" >
    <button [disabled]="firstPage" [routerLink]="['/transaction-list',1,page-1]" class="m-1 btn btn-primary"><</button>
    <button  class="m-1 btn btn-primary">{{page}}</button>
    <button [disabled]="!hasMore" [routerLink]="['/transaction-list',1,page+1]" class="m-1 btn btn-primary">></button>
  </div>
  
      <li *ngIf="!transactions || transactions.length === 0" class="list-group-item">
        <p>No transactions available.</p>
      </li>
    </ul>
    
  </div>
  
  
  