<h1 mat-dialog-title>Add Income</h1>
<div mat-dialog-content>
  <form [formGroup]="incomeForm" (ngSubmit)="onSubmit()">
    <!-- Definir un contenedor de columna para alinear verticalmente los elementos -->
    <div style="display: flex; flex-direction: column; gap: 16px;">
      
      <!-- Account ID Field -->
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Account ID</mat-label>
        <input matInput formControlName="accountId" required readonly>
      </mat-form-field>
      
      <!-- Value Field -->
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Value</mat-label>
        <input matInput formControlName="value" required type="number">
      </mat-form-field>
      
      <!-- Description Field -->
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" required>
      </mat-form-field>

      <!-- Income Category ID Field -->
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Income Category ID</mat-label>
        <input matInput formControlName="incomeCatId" required type="number">
      </mat-form-field>
    </div>
    
    <mat-dialog-actions style="margin-top: 16px;">
      <button mat-button (click)="onCancel()">Cancel</button>
      <button mat-button type="submit" color="primary">Add Income</button>
    </mat-dialog-actions>
  </form>
</div>
